flows.json
[
    {
        "id": "2d0eae5d14faaa89",
        "type": "tab",
        "label": "DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "756ecaea300b7750",
        "type": "tab",
        "label": "gateway_connection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3f4332528cf7e20",
        "type": "tab",
        "label": "gateway_data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c97c617cfac4c5b",
        "type": "tab",
        "label": "DIGITAL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc15c9786796144f",
        "type": "tab",
        "label": "CONNECTIVITY & MONITORING",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd9ca96822abc303",
        "type": "group",
        "z": "2d0eae5d14faaa89",
        "name": "Envio por MQTT",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a1b7663238cb139b",
            "7423811dfc9d79c2",
            "4d660c0c0ba2ced3",
            "6bcce7aaca7e0a16",
            "5cedb45d33fc6219"
        ],
        "x": 54,
        "y": 99,
        "w": 812,
        "h": 202
    },
    {
        "id": "03dbc771bbc29c4e",
        "type": "group",
        "z": "2d0eae5d14faaa89",
        "name": "Guardado de data local",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9f949025d3343f9c",
            "2168b6fd9e7f0a0b",
            "5c859091a6d10e13",
            "5288b8766ea5e4ca",
            "acdc8b11c851a123",
            "3c6fd0ee99d40ad1"
        ],
        "x": 74,
        "y": 939,
        "w": 712,
        "h": 122
    },
    {
        "id": "b267c96d3e95ece3",
        "type": "group",
        "z": "2d0eae5d14faaa89",
        "name": "Guardado de data offline",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8afb492492e70e07",
            "3ea47155ef3c1558",
            "8ac34c6dc5460b60",
            "f1dd4c9ec608b3c1",
            "60167e9df34ad2c9",
            "6e475b3c29b181f3",
            "87bc9e71af2f0105"
        ],
        "x": 64,
        "y": 399,
        "w": 742,
        "h": 182
    },
    {
        "id": "52997140e5920fb6",
        "type": "group",
        "z": "2d0eae5d14faaa89",
        "name": "Guardar data local a CSV",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "15fefb68aa8d9df5",
            "b6599b3edb71a697",
            "268c7a07c9d66d15",
            "097c9bd96e9dbd3b",
            "6e93c3ae08726a9c",
            "7be12bd72da2af1e",
            "6c209d071f76ca55",
            "11f5335c7cd52b7c",
            "638a04732d1fbbc6",
            "6b57953304f4e126"
        ],
        "x": 84,
        "y": 1099,
        "w": 1392,
        "h": 142
    },
    {
        "id": "9af6fe30f8c39995",
        "type": "group",
        "z": "2d0eae5d14faaa89",
        "name": "Recuperar y enviar la data adquirida offline",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5ac4d92068b0b2e0",
            "5bc791e9fa22c640",
            "416312cbbd376539",
            "c252d35125f57750",
            "b622ac29f3b089a4",
            "04714b5dfefeedfb",
            "6f0524fbc515dd1a",
            "0db1b3b37ddc7f9d",
            "455b814b95142c5c",
            "28ec7f1954cfc05b",
            "2220bf669a0f2c3e",
            "cbc02ca41053ef73"
        ],
        "x": 64,
        "y": 599,
        "w": 1182,
        "h": 282
    },
    {
        "id": "c057714b42d09dbf",
        "type": "group",
        "z": "2d0eae5d14faaa89",
        "name": "Eliminar data local anterior a 70 días",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d1bd0c8a618bcf3d",
            "88064ac53c78019e",
            "831d3670a153ebe1",
            "1b8a637b98bbb774",
            "db0b3cb436f27d34"
        ],
        "x": 74,
        "y": 1339,
        "w": 832,
        "h": 142
    },
    {
        "id": "91aef253532a58f9",
        "type": "group",
        "z": "dc15c9786796144f",
        "name": "Check server connection",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "93a424f0f4d8ca2f",
            "711b5348a1813f47",
            "8b2f498822b700db",
            "cb1f212b331fab68",
            "3f82c27fa38926e4",
            "f9c4f14695eb3a2c",
            "6aa435a09d2c0ff9",
            "283254e3bce9da85"
        ],
        "x": 74,
        "y": 79,
        "w": 1212,
        "h": 242
    },
    {
        "id": "888e6b9dda457fad",
        "type": "group",
        "z": "dc15c9786796144f",
        "name": "Check server connection",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d92bff66afea851e",
            "6f3a4fcdbeedecc9",
            "4d9cf53760a64ca9",
            "b08bba74337eac3c",
            "eda357bad7e0913a",
            "9b635ecefc2d10b2",
            "456618201ee31e30"
        ],
        "x": 54,
        "y": 359,
        "w": 1072,
        "h": 182
    },
    {
        "id": "ae86d70651429506",
        "type": "mqtt-broker",
        "name": "cloud acme broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "connection",
        "birthQos": "0",
        "birthPayload": "connected",
        "birthMsg": {},
        "closeTopic": "disconnection",
        "closeQos": "0",
        "closePayload": "disconnected",
        "closeMsg": {},
        "willTopic": "disconnection",
        "willQos": "0",
        "willPayload": "disconnected unex",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "981f8f6e251372ce",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "923271d282c9dc15",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9aaa3e89562aad06",
        "type": "inject",
        "z": "2d0eae5d14faaa89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "99dfedd8844670d5"
            ]
        ]
    },
    {
        "id": "99dfedd8844670d5",
        "type": "change",
        "z": "2d0eae5d14faaa89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data",
                "pt": "global",
                "to": "{\"gateway_key\":\"\",\"timestamp\":0,\"data\":{\"gateway_info\":{\"eth_ip\":\"-\",\"vpn_ip\":\"-\",\"ping_acme\":\"-\",\"total_space\":0,\"used_space\":0,\"used_space_percent\":0,\"free_space\":0,\"num_gps_sat\":0,\"memory_usage_percent\":0,\"temperature\":0,\"vbat\":0},\"gps\":{\"pos_valid\":0,\"old_pos\":1,\"total\":0,\"nav_status\":0,\"latitude\":0,\"longitude\":0,\"altitude\":0,\"haccuracy\":0,\"vaccuracy\":0,\"speed\":0,\"course\":0,\"hdop\":0,\"vdop\":0,\"tdop\":0,\"num_sat\":0},\"imu\":{\"accel_x\":0,\"accel_y\":0,\"accel_z\":0},\"sensor_estado\":{\"state\":\"init\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 40,
        "wires": [
            [
                "d38396561c2aa0f7"
            ]
        ]
    },
    {
        "id": "d38396561c2aa0f7",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "a1b7663238cb139b",
        "type": "inject",
        "z": "2d0eae5d14faaa89",
        "g": "cd9ca96822abc303",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "4d660c0c0ba2ced3"
            ]
        ]
    },
    {
        "id": "7423811dfc9d79c2",
        "type": "mqtt out",
        "z": "2d0eae5d14faaa89",
        "g": "cd9ca96822abc303",
        "name": "",
        "topic": "data/online/owasys1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "981f8f6e251372ce",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "4d660c0c0ba2ced3",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "cd9ca96822abc303",
        "name": "function 103",
        "func": "var data_json = global.get('gateway_data');\ndata_json.timestamp = msg.payload;\nmsg.payload = data_json;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "7423811dfc9d79c2",
                "6bcce7aaca7e0a16",
                "5cedb45d33fc6219"
            ]
        ]
    },
    {
        "id": "6bcce7aaca7e0a16",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "cd9ca96822abc303",
        "name": "debug 119",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "5bc791e9fa22c640",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "obtener primer dato",
        "func": "msg.topic = \"SELECT data FROM offline_data LIMIT 1;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 720,
        "wires": [
            [
                "5ac4d92068b0b2e0"
            ]
        ]
    },
    {
        "id": "416312cbbd376539",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 780,
        "wires": []
    },
    {
        "id": "9f949025d3343f9c",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "03dbc771bbc29c4e",
        "name": "function 103",
        "func": "\nmsg.topic = \"INSERT INTO `local_data` (`data`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "2168b6fd9e7f0a0b",
                "5288b8766ea5e4ca"
            ]
        ]
    },
    {
        "id": "5288b8766ea5e4ca",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "03dbc771bbc29c4e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 980,
        "wires": []
    },
    {
        "id": "5c859091a6d10e13",
        "type": "json",
        "z": "2d0eae5d14faaa89",
        "g": "03dbc771bbc29c4e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "9f949025d3343f9c"
            ]
        ]
    },
    {
        "id": "b6599b3edb71a697",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "func": "\nmsg.topic = \"SELECT data FROM local_data\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1200,
        "wires": [
            [
                "15fefb68aa8d9df5"
            ]
        ]
    },
    {
        "id": "268c7a07c9d66d15",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 1140,
        "wires": []
    },
    {
        "id": "097c9bd96e9dbd3b",
        "type": "csv",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 870,
        "y": 1200,
        "wires": [
            [
                "6e93c3ae08726a9c",
                "11f5335c7cd52b7c"
            ]
        ]
    },
    {
        "id": "6e93c3ae08726a9c",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "debug 119",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7be12bd72da2af1e",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "Procesar array para csv",
        "func": "var array_in = msg.payload;\nvar array_out = [];\n\nfor (var i = 0; i < array_in.length; i++) {\n    array_out[i] = JSON.parse(msg.payload[i].data);\n\n    // Converting simple timestamp to human readable\n    // time\n    array_out[i].timestamp = unixTimestampToHumanReadable(array_out[i].timestamp);\n}\n\nmsg.payload = array_out;\n\nmsg.columns = Object.keys(msg.payload[0]).toString();\n\n\nreturn msg;\n\n\n\n// Function for timestamp to readable time\nfunction unixTimestampToHumanReadable(unixTimestamp) {\n    const date = new Date(unixTimestamp);\n    const year = date.getFullYear();\n    const month = (date.getMonth() + 1).toString().padStart(2, '0');\n    const day = date.getDate().toString().padStart(2, '0');\n    const hours = date.getHours().toString().padStart(2, '0');\n    const minutes = date.getMinutes().toString().padStart(2, '0');\n    const seconds = date.getSeconds().toString().padStart(2, '0');\n\n    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "6c209d071f76ca55",
                "097c9bd96e9dbd3b"
            ]
        ]
    },
    {
        "id": "6c209d071f76ca55",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "columns",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1140,
        "wires": []
    },
    {
        "id": "11f5335c7cd52b7c",
        "type": "file",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "filename": "/root/ITEMAQ/ANGULAMIENTO/data_angulamiento.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1170,
        "y": 1200,
        "wires": [
            [
                "6b57953304f4e126"
            ]
        ]
    },
    {
        "id": "8afb492492e70e07",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "name": "function 103",
        "func": "\nmsg.topic = \"INSERT INTO `offline_data` (`data`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "3ea47155ef3c1558",
                "f1dd4c9ec608b3c1"
            ]
        ]
    },
    {
        "id": "8ac34c6dc5460b60",
        "type": "json",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 480,
        "wires": [
            [
                "8afb492492e70e07"
            ]
        ]
    },
    {
        "id": "f1dd4c9ec608b3c1",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "c252d35125f57750",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "Procesar para mqtt",
        "func": "var array_in = msg.payload;\nvar data_out = [];\n\n\n\nif (msg.payload[0] == undefined){\n    node.status({ fill: \"green\", shape: \"ring\", text: \"empty data\" });\n    return null;    \n}\n\nelse {\n    data_out = JSON.parse(msg.payload[0].data);\n    \n    node.status({ fill: \"green\", shape: \"dot\", text: \"sending offline\" });\n\n    msg.payload = data_out;\n\n    return msg;\n\n}\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "6f0524fbc515dd1a",
                "416312cbbd376539",
                "0db1b3b37ddc7f9d",
                "04714b5dfefeedfb",
                "cbc02ca41053ef73"
            ]
        ]
    },
    {
        "id": "b622ac29f3b089a4",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "04714b5dfefeedfb",
        "type": "mqtt out",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "topic": "data/offline/owasys1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "981f8f6e251372ce",
        "x": 1120,
        "y": 720,
        "wires": []
    },
    {
        "id": "6f0524fbc515dd1a",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.timestamp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 640,
        "wires": []
    },
    {
        "id": "0db1b3b37ddc7f9d",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "Eliminar primer dato",
        "func": "\n// elimina el primer dato\nmsg.topic = \"DELETE FROM offline_data LIMIT 1;\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 840,
        "wires": [
            [
                "455b814b95142c5c"
            ]
        ]
    },
    {
        "id": "d1bd0c8a618bcf3d",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "c057714b42d09dbf",
        "name": "",
        "func": "msg.topic = \"DELETE FROM local_data WHERE date < DATE_SUB(CURDATE(), INTERVAL 70 DAY);\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1380,
        "wires": [
            [
                "88064ac53c78019e"
            ]
        ]
    },
    {
        "id": "831d3670a153ebe1",
        "type": "inject",
        "z": "2d0eae5d14faaa89",
        "g": "c057714b42d09dbf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "59 23 * * 5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1380,
        "wires": [
            [
                "d1bd0c8a618bcf3d"
            ]
        ]
    },
    {
        "id": "1b8a637b98bbb774",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "c057714b42d09dbf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5cedb45d33fc6219",
        "type": "link out",
        "z": "2d0eae5d14faaa89",
        "g": "cd9ca96822abc303",
        "name": "data_stream",
        "mode": "link",
        "links": [
            "acdc8b11c851a123",
            "60167e9df34ad2c9"
        ],
        "x": 525,
        "y": 260,
        "wires": []
    },
    {
        "id": "acdc8b11c851a123",
        "type": "link in",
        "z": "2d0eae5d14faaa89",
        "g": "03dbc771bbc29c4e",
        "name": "",
        "links": [
            "5cedb45d33fc6219"
        ],
        "x": 115,
        "y": 1020,
        "wires": [
            [
                "3c6fd0ee99d40ad1"
            ]
        ]
    },
    {
        "id": "60167e9df34ad2c9",
        "type": "link in",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "name": "",
        "links": [
            "5cedb45d33fc6219"
        ],
        "x": 105,
        "y": 480,
        "wires": [
            [
                "6e475b3c29b181f3"
            ]
        ]
    },
    {
        "id": "6e475b3c29b181f3",
        "type": "function",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "name": "",
        "func": "var connections = global.get('connections');\n\nvar msg2 = {}\n\nmsg.payload = msg.payload;\nif (connections.acme_server == false){\n    // Not connected\n    node.status({ fill: \"green\", shape: \"ring\", text: \"disconnected - saving\" });\n    return [msg, null];\n}\nelse{\n    // Connected\n    node.status({ fill: \"green\", shape: \"dot\", text: \"connected - no save\" });\n\n    return [null, msg];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 480,
        "wires": [
            [
                "8ac34c6dc5460b60"
            ],
            [
                "87bc9e71af2f0105"
            ]
        ]
    },
    {
        "id": "db0b3cb436f27d34",
        "type": "comment",
        "z": "2d0eae5d14faaa89",
        "g": "c057714b42d09dbf",
        "name": "La data se elimina cada viernes",
        "info": "",
        "x": 230,
        "y": 1440,
        "wires": []
    },
    {
        "id": "87bc9e71af2f0105",
        "type": "link out",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "name": "connected",
        "mode": "link",
        "links": [
            "28ec7f1954cfc05b"
        ],
        "x": 335,
        "y": 540,
        "wires": []
    },
    {
        "id": "28ec7f1954cfc05b",
        "type": "link in",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "links": [
            "87bc9e71af2f0105"
        ],
        "x": 105,
        "y": 720,
        "wires": [
            [
                "5bc791e9fa22c640"
            ]
        ]
    },
    {
        "id": "2220bf669a0f2c3e",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 840,
        "wires": []
    },
    {
        "id": "638a04732d1fbbc6",
        "type": "link in",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "links": [
            "24491a42e5626d87"
        ],
        "x": 125,
        "y": 1200,
        "wires": [
            [
                "b6599b3edb71a697"
            ]
        ]
    },
    {
        "id": "6b57953304f4e126",
        "type": "link out",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "name": "",
        "mode": "link",
        "links": [
            "1bb50ae54662e6ff"
        ],
        "x": 1435,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cbc02ca41053ef73",
        "type": "debug",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 680,
        "wires": []
    },
    {
        "id": "5ac4d92068b0b2e0",
        "type": "mysql",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "mydb": "923271d282c9dc15",
        "name": "",
        "x": 470,
        "y": 720,
        "wires": [
            [
                "c252d35125f57750",
                "b622ac29f3b089a4"
            ]
        ]
    },
    {
        "id": "2168b6fd9e7f0a0b",
        "type": "mysql",
        "z": "2d0eae5d14faaa89",
        "g": "03dbc771bbc29c4e",
        "mydb": "923271d282c9dc15",
        "name": "",
        "x": 690,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "15fefb68aa8d9df5",
        "type": "mysql",
        "z": "2d0eae5d14faaa89",
        "g": "52997140e5920fb6",
        "mydb": "923271d282c9dc15",
        "name": "",
        "x": 410,
        "y": 1200,
        "wires": [
            [
                "268c7a07c9d66d15",
                "7be12bd72da2af1e"
            ]
        ]
    },
    {
        "id": "3ea47155ef3c1558",
        "type": "mysql",
        "z": "2d0eae5d14faaa89",
        "g": "b267c96d3e95ece3",
        "mydb": "923271d282c9dc15",
        "name": "",
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "455b814b95142c5c",
        "type": "mysql",
        "z": "2d0eae5d14faaa89",
        "g": "9af6fe30f8c39995",
        "mydb": "923271d282c9dc15",
        "name": "",
        "x": 910,
        "y": 840,
        "wires": [
            [
                "2220bf669a0f2c3e"
            ]
        ]
    },
    {
        "id": "88064ac53c78019e",
        "type": "mysql",
        "z": "2d0eae5d14faaa89",
        "g": "c057714b42d09dbf",
        "mydb": "923271d282c9dc15",
        "name": "",
        "x": 570,
        "y": 1380,
        "wires": [
            [
                "1b8a637b98bbb774"
            ]
        ]
    },
    {
        "id": "3c6fd0ee99d40ad1",
        "type": "flat",
        "z": "2d0eae5d14faaa89",
        "g": "03dbc771bbc29c4e",
        "name": "",
        "x": 230,
        "y": 1020,
        "wires": [
            [
                "5c859091a6d10e13"
            ]
        ]
    },
    {
        "id": "f6030b020cf22d88",
        "type": "inject",
        "z": "756ecaea300b7750",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "60c6f4ec37befba9"
            ]
        ]
    },
    {
        "id": "60c6f4ec37befba9",
        "type": "exec",
        "z": "756ecaea300b7750",
        "command": "sudo pollux-gps --stop",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e7c850a43eac55dd",
        "type": "inject",
        "z": "756ecaea300b7750",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ba1f86a56987e6a2",
                "f7562890f293db98"
            ]
        ]
    },
    {
        "id": "f7562890f293db98",
        "type": "exec",
        "z": "756ecaea300b7750",
        "command": "sudo /home/debian/owasys4x_binaries/LEDS_OWASYS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ba1f86a56987e6a2",
        "type": "exec",
        "z": "756ecaea300b7750",
        "command": "sudo /home/debian/owasys4x_binaries/ID_OWASYS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 680,
        "y": 260,
        "wires": [
            [
                "149a7314824292ad",
                "e8a9e421bf5342a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "a54e7cce444a6d97",
        "type": "change",
        "z": "756ecaea300b7750",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.gateway_key",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "149a7314824292ad",
        "type": "debug",
        "z": "756ecaea300b7750",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 300,
        "wires": []
    },
    {
        "id": "e8a9e421bf5342a4",
        "type": "function",
        "z": "756ecaea300b7750",
        "name": "function 22",
        "func": "var data_json = global.get('data_json');\nmsg.payload = msg.payload.slice(0,6)\nconst parsed = msg.payload.toString();\nmsg.payload = parsed;\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "2efa01a97d87070b",
                "a54e7cce444a6d97"
            ]
        ]
    },
    {
        "id": "2efa01a97d87070b",
        "type": "debug",
        "z": "756ecaea300b7750",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "b8577533afc8f923",
        "type": "inject",
        "z": "a3f4332528cf7e20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "47831eb7f61148f3"
            ]
        ]
    },
    {
        "id": "23d0a78864a9a4f1",
        "type": "function",
        "z": "a3f4332528cf7e20",
        "name": "GPS data to global",
        "func": "\nvar gateway_data = global.get('gateway_data');\n\ngateway_data.data.gps.pos_valid = msg.payload.pos_valid;\ngateway_data.data.gps.old_pos = msg.payload.old_pos;\ngateway_data.data.gps.total = msg.payload.total;\ngateway_data.data.gps.nav_status = msg.payload.nav_status;\ngateway_data.data.gps.latitude = msg.payload.lat;\ngateway_data.data.gps.longitude = msg.payload.lon;\ngateway_data.data.gps.altitude = msg.payload.alt;\ngateway_data.data.gps.haccuracy = msg.payload.hAcc;\ngateway_data.data.gps.vaccuracy = msg.payload.vAcc;\ngateway_data.data.gps.speed = msg.payload.Speed;\ngateway_data.data.gps.course = msg.payload.course;\ngateway_data.data.gps.hdop = msg.payload.HDOP;\ngateway_data.data.gps.vdop = msg.payload.VDOP;\ngateway_data.data.gps.tdop = msg.payload.TDOP;\ngateway_data.data.gps.num_sat = msg.payload.numSvs;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d8313f623a010f53",
        "type": "debug",
        "z": "a3f4332528cf7e20",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 100,
        "wires": []
    },
    {
        "id": "36684df8be923d94",
        "type": "comment",
        "z": "a3f4332528cf7e20",
        "name": "Data GPS",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "2066bd88e7af100c",
        "type": "comment",
        "z": "a3f4332528cf7e20",
        "name": "Data acceleration",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "c736c41652e450f8",
        "type": "exec",
        "z": "a3f4332528cf7e20",
        "command": "sudo /home/debian/owasys4x_binaries/IMU_OWASYS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 460,
        "wires": [
            [
                "7c8df98f5b141e70",
                "a1181c74f0fc3607"
            ],
            [],
            [
                "4aec1fd7222960ee"
            ]
        ]
    },
    {
        "id": "f6d245e62a449c5a",
        "type": "inject",
        "z": "a3f4332528cf7e20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "c736c41652e450f8"
            ]
        ]
    },
    {
        "id": "d28d9830f4dd2419",
        "type": "debug",
        "z": "a3f4332528cf7e20",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "749e5d2e38909fdf",
        "type": "debug",
        "z": "a3f4332528cf7e20",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c8df98f5b141e70",
        "type": "debug",
        "z": "a3f4332528cf7e20",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "db172454d36ca102",
        "type": "debug",
        "z": "a3f4332528cf7e20",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "47831eb7f61148f3",
        "type": "exec",
        "z": "a3f4332528cf7e20",
        "command": "sudo /home/debian/owasys4x_binaries/GPS_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "749e5d2e38909fdf",
                "8256a75577ab7f8f"
            ],
            [],
            [
                "db172454d36ca102",
                "e08c99662e73027f"
            ]
        ]
    },
    {
        "id": "8256a75577ab7f8f",
        "type": "json",
        "z": "a3f4332528cf7e20",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "cb2630f34149b8f0",
                "a47d015e7e3645d7",
                "bbd6bf886f9068b5",
                "23d0a78864a9a4f1"
            ]
        ]
    },
    {
        "id": "a1181c74f0fc3607",
        "type": "json",
        "z": "a3f4332528cf7e20",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 460,
        "wires": [
            [
                "8fa40cd16f10f3f3"
            ]
        ]
    },
    {
        "id": "cb2630f34149b8f0",
        "type": "function",
        "z": "a3f4332528cf7e20",
        "name": "function 23",
        "func": "msg.payload = msg.payload.numSvs;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "1c8e968ad7ef9ba5",
                "34577df93c662b59"
            ]
        ]
    },
    {
        "id": "1c8e968ad7ef9ba5",
        "type": "debug",
        "z": "a3f4332528cf7e20",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1460,
        "y": 300,
        "wires": []
    },
    {
        "id": "34577df93c662b59",
        "type": "mqtt out",
        "z": "a3f4332528cf7e20",
        "name": "",
        "topic": "satelites_owasys",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae86d70651429506",
        "x": 1530,
        "y": 380,
        "wires": []
    },
    {
        "id": "a47d015e7e3645d7",
        "type": "function",
        "z": "a3f4332528cf7e20",
        "name": "function 24",
        "func": "msg.payload = msg.payload.HDOP;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "ce2306272a9be09b"
            ]
        ]
    },
    {
        "id": "ce2306272a9be09b",
        "type": "mqtt out",
        "z": "a3f4332528cf7e20",
        "name": "",
        "topic": "hdop_owasys",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae86d70651429506",
        "x": 1480,
        "y": 440,
        "wires": []
    },
    {
        "id": "106d978e4b5c2442",
        "type": "mqtt out",
        "z": "a3f4332528cf7e20",
        "name": "",
        "topic": "hacc_owasys",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ae86d70651429506",
        "x": 1500,
        "y": 500,
        "wires": []
    },
    {
        "id": "bbd6bf886f9068b5",
        "type": "function",
        "z": "a3f4332528cf7e20",
        "name": "function 25",
        "func": "msg.payload = msg.payload.hAcc;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "106d978e4b5c2442"
            ]
        ]
    },
    {
        "id": "7ecec582e1d531ff",
        "type": "delay",
        "z": "a3f4332528cf7e20",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "47831eb7f61148f3"
            ]
        ]
    },
    {
        "id": "41c6b9dffe0d97c7",
        "type": "delay",
        "z": "a3f4332528cf7e20",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "c736c41652e450f8"
            ]
        ]
    },
    {
        "id": "4aec1fd7222960ee",
        "type": "exec",
        "z": "a3f4332528cf7e20",
        "command": "sudo kill $(ps -A | grep IMU_OWASYS | awk '{print$1}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 640,
        "wires": [
            [
                "41c6b9dffe0d97c7"
            ],
            [],
            []
        ]
    },
    {
        "id": "e08c99662e73027f",
        "type": "exec",
        "z": "a3f4332528cf7e20",
        "command": "sudo kill $(ps -A | grep GPS_OWASYS | awk '{print$1}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "7ecec582e1d531ff"
            ],
            [],
            []
        ]
    },
    {
        "id": "c96086e246269a41",
        "type": "exec",
        "z": "a3f4332528cf7e20",
        "command": "sudo kill $(ps -A | grep IMU_OWASYS | awk '{print$1}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 1020,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "62f817cb719a8e1a",
        "type": "exec",
        "z": "a3f4332528cf7e20",
        "command": "sudo kill $(ps -A | grep GPS_OWASYS | awk '{print$1}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6cb3b8a51a2c4ab6",
        "type": "inject",
        "z": "a3f4332528cf7e20",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "62f817cb719a8e1a",
                "c96086e246269a41"
            ]
        ]
    },
    {
        "id": "df63a50caf6c2d84",
        "type": "comment",
        "z": "a3f4332528cf7e20",
        "name": "Kill process manually",
        "info": "",
        "x": 260,
        "y": 900,
        "wires": []
    },
    {
        "id": "8fa40cd16f10f3f3",
        "type": "function",
        "z": "a3f4332528cf7e20",
        "name": "function 104",
        "func": "var gateway_data = global.get('gateway_data');\n\ngateway_data.data.imu.accel_x = msg.payload.x_axis;\n\ngateway_data.data.imu.accel_y = msg.payload.y_axis;\n\ngateway_data.data.imu.accel_z = msg.payload.z_axis;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 480,
        "wires": [
            [
                "d28d9830f4dd2419"
            ]
        ]
    },
    {
        "id": "9df0786960e75f2a",
        "type": "exec",
        "z": "1c97c617cfac4c5b",
        "command": "sudo /home/debian/owasys4x_binaries/DIGITAL_OUTPUT_OWASYS 0 0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "bfdbf35c60c5ddf9"
            ],
            [],
            []
        ]
    },
    {
        "id": "da4de0a228b1b20a",
        "type": "inject",
        "z": "1c97c617cfac4c5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "9df0786960e75f2a"
            ]
        ]
    },
    {
        "id": "bfdbf35c60c5ddf9",
        "type": "debug",
        "z": "1c97c617cfac4c5b",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 520,
        "wires": []
    },
    {
        "id": "c4adbf3890cb6dab",
        "type": "exec",
        "z": "1c97c617cfac4c5b",
        "command": "sudo /home/debian/owasys4x_binaries/DIGITAL_OUTPUT_OWASYS 0 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 780,
        "y": 620,
        "wires": [
            [
                "f12c3e30b6aa50b0"
            ],
            [],
            []
        ]
    },
    {
        "id": "857d949aa45ced56",
        "type": "inject",
        "z": "1c97c617cfac4c5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "c4adbf3890cb6dab"
            ]
        ]
    },
    {
        "id": "f12c3e30b6aa50b0",
        "type": "debug",
        "z": "1c97c617cfac4c5b",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 620,
        "wires": []
    },
    {
        "id": "22c4c42440b50e18",
        "type": "exec",
        "z": "1c97c617cfac4c5b",
        "command": "sudo /home/debian/owasys4x_binaries/DIGITAL_INPUT_OWASYS 1",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "8baa9635e2e510e5"
            ],
            [],
            []
        ]
    },
    {
        "id": "4a2c10ee42172fa7",
        "type": "inject",
        "z": "1c97c617cfac4c5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "22c4c42440b50e18"
            ]
        ]
    },
    {
        "id": "ab5d4f6bd03a4dc0",
        "type": "debug",
        "z": "1c97c617cfac4c5b",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "8baa9635e2e510e5",
        "type": "json",
        "z": "1c97c617cfac4c5b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "ab5d4f6bd03a4dc0"
            ]
        ]
    },
    {
        "id": "06789e8556e5b554",
        "type": "switch",
        "z": "1c97c617cfac4c5b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "9df0786960e75f2a"
            ],
            [
                "c4adbf3890cb6dab"
            ]
        ]
    },
    {
        "id": "711b5348a1813f47",
        "type": "change",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections.acme_server",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "3f82c27fa38926e4",
                "6aa435a09d2c0ff9"
            ]
        ]
    },
    {
        "id": "8b2f498822b700db",
        "type": "switch",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "711b5348a1813f47"
            ],
            [
                "cb1f212b331fab68"
            ]
        ]
    },
    {
        "id": "cb1f212b331fab68",
        "type": "change",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections_acme_server",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "f9c4f14695eb3a2c",
                "283254e3bce9da85"
            ]
        ]
    },
    {
        "id": "3f82c27fa38926e4",
        "type": "debug",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "Latencia servidor Acme",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "f9c4f14695eb3a2c",
        "type": "debug",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "Not connected",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "6f3a4fcdbeedecc9",
        "type": "change",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections.vpn_server",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "eda357bad7e0913a"
            ]
        ]
    },
    {
        "id": "4d9cf53760a64ca9",
        "type": "switch",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "6f3a4fcdbeedecc9"
            ],
            [
                "b08bba74337eac3c"
            ]
        ]
    },
    {
        "id": "b08bba74337eac3c",
        "type": "change",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections.vpn_server",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "9b635ecefc2d10b2"
            ]
        ]
    },
    {
        "id": "eda357bad7e0913a",
        "type": "debug",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "name": "Latencia servidor VPN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b635ecefc2d10b2",
        "type": "debug",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "name": "Not connected",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "e8e1dd1f69deda73",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connections",
                "pt": "global",
                "to": "{\"acme_server\":false,\"vpn_server\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9d18d65d49d82c50",
        "type": "inject",
        "z": "dc15c9786796144f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "e8e1dd1f69deda73"
            ]
        ]
    },
    {
        "id": "456618201ee31e30",
        "type": "comment",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "name": "falta corregir la IP maestra del VPN",
        "info": "",
        "x": 220,
        "y": 500,
        "wires": []
    },
    {
        "id": "6aa435a09d2c0ff9",
        "type": "change",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.ping_acme",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "283254e3bce9da85",
        "type": "change",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.ping_acme",
                "pt": "global",
                "to": "not connected",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e42e5626f1e90489",
        "type": "inject",
        "z": "dc15c9786796144f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "9fd1315293417574",
                "2e25ecac0d0da0e3",
                "fb11de294868f6f9",
                "c3d257b7b6350d75",
                "2defab509360a1d0",
                "4b2a9ed741abf20c",
                "2da0559db31bd933",
                "d229c03eb43c9310",
                "924579b0b9c10f85"
            ]
        ]
    },
    {
        "id": "9fd1315293417574",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(ip -4 addr show | grep eth0 | grep inet | awk '{print$2}' )",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 700,
        "wires": [
            [
                "93c706f12581e85c"
            ],
            [],
            []
        ]
    },
    {
        "id": "93c706f12581e85c",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.eth_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2e25ecac0d0da0e3",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(df -h --total | grep /dev/mmcblk0p1 | awk '{print$2}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 820,
        "wires": [
            [
                "cb7b4aac0a7947f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "fb11de294868f6f9",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(df -h --total | grep /dev/mmcblk0p1 | awk '{print$3}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 880,
        "wires": [
            [
                "d3d919f9f49bb963"
            ],
            [],
            []
        ]
    },
    {
        "id": "c3d257b7b6350d75",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(df -h --total | grep /dev/mmcblk0p1 | awk '{print$4}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "52e124a0e8c22d22"
            ],
            [],
            []
        ]
    },
    {
        "id": "cb7b4aac0a7947f8",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.total_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d3d919f9f49bb963",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.used_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "52e124a0e8c22d22",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.free_space",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "2defab509360a1d0",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(df -h --total | grep /dev/mmcblk0p1 | awk '{print$5}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "e68f7b118d8ea36f"
            ],
            [],
            []
        ]
    },
    {
        "id": "e68f7b118d8ea36f",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.used_space_percent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "4b2a9ed741abf20c",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(free | grep Mem: | awk '{print$3/$2*100}')",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "7cb2cbfd7fbf08c7"
            ],
            [],
            []
        ]
    },
    {
        "id": "7cb2cbfd7fbf08c7",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.memory_usage_percent",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "2da0559db31bd933",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "sudo /home/debian/owasys4x_binaries/TEMPERATURE_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 1120,
        "wires": [
            [
                "6d6c2ea27d5221c3"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d6c2ea27d5221c3",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.temperature",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ed3c4f6d5ae8b3ea",
        "type": "exec",
        "z": "dc15c9786796144f",
        "d": true,
        "command": "speedtest-cli --simple --secure",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 1460,
        "wires": [
            [
                "c64314493bee3804"
            ],
            [],
            []
        ]
    },
    {
        "id": "c64314493bee3804",
        "type": "split",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 690,
        "y": 1460,
        "wires": [
            [
                "0c8f6a2d5419a8b9",
                "5c152e0cb3d696c2"
            ]
        ]
    },
    {
        "id": "0c8f6a2d5419a8b9",
        "type": "debug",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1540,
        "wires": []
    },
    {
        "id": "5c152e0cb3d696c2",
        "type": "switch",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 890,
        "y": 1460,
        "wires": [
            [
                "7b06adca311aaf65"
            ],
            [
                "82c3c4ef52bbe092"
            ],
            [
                "e900fac597dd8b24"
            ]
        ]
    },
    {
        "id": "7b06adca311aaf65",
        "type": "change",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.ping_internet",
                "pt": "global",
                "to": "$substring(payload, 6, 9)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "82c3c4ef52bbe092",
        "type": "change",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.download",
                "pt": "global",
                "to": "$substring(payload, 10, 12)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "e900fac597dd8b24",
        "type": "change",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.upload",
                "pt": "global",
                "to": "$substring(payload, 10, 12)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "adab5b42bfecd333",
        "type": "inject",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1460,
        "wires": [
            [
                "ed3c4f6d5ae8b3ea"
            ]
        ]
    },
    {
        "id": "9e9bc71bda051671",
        "type": "comment",
        "z": "dc15c9786796144f",
        "d": true,
        "name": "Not recommended, affects server connection",
        "info": "",
        "x": 430,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d229c03eb43c9310",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "sudo /home/debian/owasys4x_binaries/VBAT_OWASYS",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "7f4d77b133019c6c"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f4d77b133019c6c",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.vbat",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "93a424f0f4d8ca2f",
        "type": "ping",
        "z": "dc15c9786796144f",
        "g": "91aef253532a58f9",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "161.132.39.167",
        "timer": "5",
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "8b2f498822b700db"
            ]
        ]
    },
    {
        "id": "d92bff66afea851e",
        "type": "ping",
        "z": "dc15c9786796144f",
        "g": "888e6b9dda457fad",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "",
        "host": "192.168.192.79",
        "timer": "5",
        "inputs": 0,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "4d9cf53760a64ca9"
            ]
        ]
    },
    {
        "id": "924579b0b9c10f85",
        "type": "exec",
        "z": "dc15c9786796144f",
        "command": "echo -n $(ip -4 addr show | grep ztly | grep inet | awk '{print$2}' )",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 760,
        "wires": [
            [
                "cfe000fb0c5f88ce"
            ],
            [],
            []
        ]
    },
    {
        "id": "cfe000fb0c5f88ce",
        "type": "change",
        "z": "dc15c9786796144f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gateway_data.data.gateway_info.vpn_ip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 740,
        "wires": [
            []
        ]
    }
]